<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
<!--
      <endpoint address="net.tcp://localhost:8009/FinSysService"
                  binding="netTcpBinding"
                 contract="FinSys.Wcf.Proxies.Contracts.IFinSysService"  
                  />
-->
      <endpoint address="net.tcp://localhost:8009/FinSysService"
                  binding="netTcpBinding"
                 contract="FinSys.Wcf.Contracts.IFinSysService"  
                  />
  </client>
  </system.serviceModel>
</configuration>